:root {
  /* accent colors */
  --accent-color: #2196f3;
  /* text colors */
  --white-color-alpha: #ffffff60;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --black-color: #000000;
  --white-color: #ffffff;
  /* hover colors */
  --button-hover-color: #188ce8;
  /* background colors */
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --card-background-color: #ffffff;
  /* border colors */
  --header-line-color: #ececec;
  --card-border-color: #eeeeee;
  /* grids variables */
  --vert-gap: 30px;
  --hor-gap: 30px;
  --num-items: 3;
}
/* //Common selectors */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--hor-gap);
  column-gap: var(--vert-gap);
}
.set-item {
  max-width: calc((100% - var(--vert-gap) * (var(--num-items) - 1)) / var(--num-items));
}
/* //temporaty selectors */
.nav-list .current {
  color: var(--accent-color);
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

/* //Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}
.header .logo {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 93px;

  color: var(--black-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* //Buttons */
.button {
  padding: 6px 22px;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
}

/* //Header */
.header {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-line-color);
}

.header-container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;

  color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Contacts */
.contacts-list {
  display: flex;
  gap: 50px;
}

.contacts-link {
  padding-top: 15px;
  padding-bottom: 15px;

  color: var(--main-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* // Section hero */
.hero {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-background-color);
}
.hero-title {
  width: 696px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--white-color);
  text-transform: uppercase;

  text-align: center;
}
.hero-button {
  padding: 10px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover-color);
}
/* //Section features */
.features-list {
  --num-items: 4;
}
.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;

  text-transform: uppercase;
  color: var(--secondary-text-color);
}
/* //Section area of expertise */
.competency {
  padding-bottom: 94px;
}

.competency-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--secondary-text-color);
}
/* // Section our team */
.team {
  background-color: var(--secondary-background-color);
}
.team-title {
margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;

  text-align: center;

  color: var(--secondary-text-color);
} 
.team-list {
  --num-items: 4;
}
.team-member {
    text-align: center;

  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  background-color: var(--card-background-color);
}
.member-description {
  padding: 30px 3px;
  /* width: 270px; */
}
.member-name {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: inherit;

  color: var(--secondary-text-color);
}

/* //Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);
}

.footer-address {
  font-style: inherit;
}

.address-text {
  margin-bottom: 9px;

  color: var(--white-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  color: var(--white-color-alpha);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* ?--------- Portfolio page-----------*/

/* //Filter buttons */
.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/* //Section our works */

.project-description {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: transparent;
}
.project-name {
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;

  color: var(--secondary-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;

  text-align: left;
}
