
/* //Common selectors */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
} */
/* .title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
}
.title--white{
  color: var(--white-color);
}
.title--black{
  color: var(--secondary-text-color);
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;

  text-align: center;

  color: var(--secondary-text-color);
} */
/* .social {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.social__link {
  transition: background-color var(--animation-250ms);

  display: block;
  padding: 12px;
  border-radius: 50%;
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__link--team-color {
  transition: fill var(--animation-250ms);

  fill: var(--client-color);
}
.social__link--team-color:hover,
.social__link--team-color:focus {
  fill: var(--white-color);
}

.social__link--join-color {
  fill: var(--white-color);
  background-color: #ffffff10;
} */

/* .set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--hor-gap);
  column-gap: var(--vert-gap);
}
.set__item {
  max-width: calc((100% - var(--vert-gap) * (var(--num-items) - 1)) / var(--num-items));
} */
/* //temporaty selectors */


/* //Body */
/* .body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  background-color: var(--main-background-color);
  color: var(--main-text-color);
} */

/* //Logo
.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;

  color: var(--black-color);
}

.logo--white-color{
  color: var(--white-color);
}

.logo__accent {
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  margin-bottom: 20px;
} */

/* //Buttons */
/* .button {
  padding: 6px 22px;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
}

.button--color-accent {
    transition: background-color var(--animation-250ms),
    box-shadow var(--animation-250ms);
  
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
  
    color: var(--white-color);
    background-color: var(--accent-color);
    min-width: 200px;

  }

  .button--color-accent:hover,
.button--color-accent:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
} */

/* //Header */
/* .header {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-line-color);
}

.header__container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
} */

/* Navigation */
/* .nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  transition: color var(--animation-250ms);

  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;

  color: var(--secondary-text-color);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::before {
  position: absolute;
  bottom: 0px;

  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
} */

/* Contacts */
/* .contacts{
  display: flex;
  gap: 50px;
}
.contacts--transform{
  flex-direction: column;
  gap: 9px;
}

.contacts__link {
  transition: color var(--animation-250ms), fill var(--animation-250ms);

  display: flex;
  align-items: center;
  gap: 10px;

  fill: currentColor;
}
.contacts__link--header-color{
  color: var(--main-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
}
.contacts__link--footer-color{
  color: var(--white-color-alpha);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contacts__icon{
  fill: currentColor;
} */

/* // Section hero */
/* .hero {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--footer-background-color);
  background-image: linear-gradient(to right, #2f303a40 0%, #2f303a40 100%),
    url('../images/jpg/index/hero.jpg');

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  max-width: 1600px;
  background-position: left, center;
}
.hero__title {
  width: 696px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--white-color);
  text-transform: uppercase;

  text-align: center;
  animation: fade-in 3000ms ease 200ms 1 forwards;
}

@keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

.hero__button {
  padding: 10px 32px;
} */
/* //Section features */
/* .features__icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-background-color);
}
.features {
  --num-items: 4;
}
.features__text{
  margin-top: 10px;
} */
/* .features-title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
} */

/* //Section area of expertise */
/* .competency {
  padding-bottom: 94px;
}

.competency__title {
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;

  text-align: center;

  color: var(--secondary-text-color);
}

.competency__item {
  position: relative;
}
.competency__subtitle {
  position: absolute;
  width: 100%;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);

  text-align: center;
  padding: 27px 0px;
} */
/* // Section our team */
/* .team {
  background-color: var(--secondary-background-color);
}

.team__list {
  --num-items: 4;
}
.team__member {
  text-align: center;

  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  background-color: var(--card-background-color);

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}
.team__description {
  padding: 30px 3px;
}
.team-name {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: inherit;

  color: var(--secondary-text-color);
}
.team-position {
  margin-bottom: 16px;
} */

/* .icon {
  display: block;
} */
/* //Section clients */
/* .clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients__link {
  transition: fill var(--animation-250ms), border-color var(--animation-250ms);

  display: inline-flex;
  padding: 15px 31px;
  border: 1px solid var(--client-color);
  border-radius: 4px;
  fill: var(--client-color);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
} */
/* //Footer */
/* .footer__container {
  display: flex;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
} */



/* .address {
  font-style: inherit;
}

.address__text {
  margin-bottom: 9px;

  color: var(--white-color);
} */

/* .address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  transition: color var(--animation-250ms);
  color: var(--white-color-alpha);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color); 
}*/
/* // section join */
/* .join {
  padding-top: 12px;
  width: 206px;
  
}
.footer__join{
  margin-left: 70px;
  margin-right: auto;
}
.join__title {
  margin-bottom: 20px;
} */

/* // Section subscribe */
/* .subscribe{
    padding-top: 12px;
}
.subscribe__title{
    display: inline-block;
    margin-bottom: 20px;
}
.subscribe-form{
    position: relative;
    display: flex;    
}
.subscribe-form__email{
    min-width: 358px;
    padding: 14px 15px;
    margin-right: 12px;
transition: box-shadow var(--animation-250ms);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 16px; 
line-height: calc(20 / 16);
letter-spacing: 0.03em;
color: var(--accent-color);
    background-color: transparent;
}

.subscribe-form__email:focus,
.subscribe-form__email:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form__email::placeholder{ 
color: var(--white-color-alpha);


}
.subscribe-form__button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 62px;

text-align: left;
}

.subscribe-form__icon{
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);

fill: var(--white-color);
} */
/* ?--------- Portfolio page-----------*/

/* //Filter buttons */
/* .filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__button {
  box-shadow: none;
  transition: box-shadow var(--animation-250ms), color var(--animation-250ms),
    background-color var(--animation-250ms);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);

  &:hover,
&:focus {
  background-color: var(--accent-color);
  color: var(--white-color);

  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
}
} */


/* //Section our works */
/* .project__item {
  box-shadow: none;
  transition: box-shadow var(--animation-250ms);
}

.project__item:hover,
.project__item:focus {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
}
.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--animation-250ms);

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  padding: 63px 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
}
.gallery__item:focus .project__overlay,
.gallery__item:hover .project__overlay {
  transform: translateY(0);
}
.project__description {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: transparent;
}
.project__name {
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;

  color: var(--secondary-text-color);
}

.project__type {
  font-size: 16px;
  line-height: 1.88;

  text-align: left;
} */
/* ?? Modal window */
/* .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-500ms), visibility var(--animation-500ms);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  padding: 40px;

  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform var(--animation-500ms), opacity var(--animation-500ms);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  transform: scale(1);
  transition: scale var(--animation-250ms), fill var(--animation-250ms);

  padding: 5px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: transparent;
}
.modal__close:hover,
.modal__close:focus {
  fill: var(--accent-color);
  transform: scale(0.9);
}

.modal__icon-close {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.modal__subtitle{
    margin-bottom: 12px;
    display: block;

font-size: 20px;
font-weight: 700;
line-height: calc(23.44 / 20);
text-align: center;
color: var(--secondary-text-color)
}
.modal__item:not(:last-child){
    margin-bottom: 10px;
}

.modal__label{
    position: relative;
    display: block;

fill: var(--secondary-text-color);
}

.register-subtitle{
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.modal__field{
    display: block;
    width: 100%;
    margin-top: 4px;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 41px;
    padding-right: 11px;

    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    transition: border-color var(--animation-250ms);
outline: transparent;
}

.modal__icon{
position: absolute;
left: 11px;
bottom: 11px;
fill: var(--secondary-text-color);
transition: fill var(--animation-250ms);
}

.modal__text{
    display: block;
    width: 100%;
    height: 120px;
    padding: 11px 15px;
    resize: none;
    margin-top: 4px;

    outline: transparent;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    transition: border-color var(--animation-250ms);
}

.modal__field:focus + .modal__icon,
.modal__field:hover + .modal__icon{
    fill: var(--accent-color);
} 

.modal-field:focus,
.modal-field:hover{
    border-color: var(--accent-color);
} 

.modal__text:focus,
.modal__text:hover{
    border-color: var(--accent-color);
    
}

.modal__submit{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 52px;
} */


/* .confirmation{
    display: flex;
   justify-content: center;
   align-items: center;

    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.confirmation__checkbox{
    margin-right: 8px;
}
.confirmation__icon{
    margin-right: 8px;
}
.confirmation__check{
    opacity: 0;
    transition: opacity var(--animation-250ms);
}
.confirmation__checkbox:checked + .confirmation__icon .confirmation__check{
opacity: 1;
}
.confirmation__checkbox:checked + .confirmation__icon .confirmation__uncheck{
    opacity: 0;
    }
.confirmation__text{
user-select: none;
}

.confirmation__link{
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-position: under;
} */

