  .features {
    --num-items: 4;

    &__icon {
        padding: 25px 100px;
        margin-bottom: 30px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      
        background-color: var(--secondary-background-color);
      }

      &__text{
        margin-top: 10px;
      }
  }
