  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    padding: 40px;
  
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: transform var(--animation-500ms), opacity var(--animation-500ms);
  }
  
  .modal__close {
    position: absolute;
    right: 8px;
    top: 8px;
    transform: scale(1);
    transition: scale var(--animation-250ms), fill var(--animation-250ms);
  
    padding: 5px;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: transparent;
  }
  .modal__close:hover,
  .modal__close:focus {
    fill: var(--accent-color);
    transform: scale(0.9);
  }
  
  .modal__icon-close {
    display: block;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal__subtitle{
      margin-bottom: 12px;
      display: block;
  
  font-size: 20px;
  font-weight: 700;
  line-height: calc(23.44 / 20);
  text-align: center;
  color: var(--secondary-text-color)
  }
  .modal__item:not(:last-child){
      margin-bottom: 10px;
  }
  
  .modal__label{
      position: relative;
      display: block;
  
  fill: var(--secondary-text-color);
  }
  
  .register-subtitle{
      display: block;
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
  }
  
  .modal__field{
      display: block;
      width: 100%;
      margin-top: 4px;
  
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 41px;
      padding-right: 11px;
  
      border: 1px solid var(--input-border-color);
      border-radius: 4px;
  
      transition: border-color var(--animation-250ms);
  outline: transparent;
  }
  
  .modal__icon{
  position: absolute;
  left: 11px;
  bottom: 11px;
  fill: var(--secondary-text-color);
  transition: fill var(--animation-250ms);
  }
  
  .modal__text{
      display: block;
      width: 100%;
      height: 120px;
      padding: 11px 15px;
      resize: none;
      margin-top: 4px;
  
      outline: transparent;
      border: 1px solid var(--input-border-color);
      border-radius: 4px;
      transition: border-color var(--animation-250ms);
  }
  
  .modal__field:focus + .modal__icon,
  .modal__field:hover + .modal__icon{
      fill: var(--accent-color);
  } 
  
  .modal-field:focus,
  .modal-field:hover{
      border-color: var(--accent-color);
  } 
  
  .modal__text:focus,
  .modal__text:hover{
      border-color: var(--accent-color);
      
  }
  
  .modal__submit{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px 52px;
  }